!!! 5
html(lang='en')
  head
    base(href='#{baseHref}')
    !{templateScripts}
    !{externalAssets}
    !{popcorn}
    link(rel='stylesheet', href='/css/embed.css')
    link(rel='stylesheet', href="/css/controls.css")
    // This is the embed, the actual content is at the following URL
    link(rel='canonical', href='#{embedShellSrc}')
    if !description
      description = 'Created with Popcorn Maker - part of the Mozilla Webmaker initiative'
    meta(property='og:description', content='#{description}')
    meta(property='og:title', content='#{title}')
    meta(property='og:type', content='video.other')
    meta(property='og:url', content='#{embedShellSrc}')
    style
      @-o-viewport { width: device-width; }
      @-moz-viewport { width: device-width; }
      @-ms-viewport { width: device-width; }
      @-webkit-viewport { width: device-width; }
      @viewport { width: device-width; }
    script(src='/src/embed.js')
  body.embed
    #container.container
      #video-container.video.video-container
        #video.video
      .loading-message
    #controls-big-play-button
    #post-roll-container
      #post-roll.embed-overlay
        .post-roll-inner
          a.embed-logo
          .embed-project
            div
              .mozpopcorn Popcorn Maker
              .embed-title #{title}
              .embed-author #{author}
            .post-roll-description
              | #{description}
              br
              a(href='/', target='_blank') Create a project like this!
            ul.embed-nav.post-roll-options
              li
                a#replay-post
                  span Replay
              li
                a(href='#{remixUrl}', target='_blank')#remix-post
                  span Remix
              li
                a#share-post
                  span Share
    #share-container
      #share.embed-overlay
        .share-inner
          a#share-close X
          a.embed-logo
          .embed-project
            div
              .mozpopcorn Popcorn Maker
              .embed-title #{title}
              .embed-author #{author}
          #share-options.share-options
            fieldset
              label URL
              input#share-url.share-ul(type='url')
              ul.embed-nav.share-buttons
                li
                  a#replay-share(href='#') Twitter
                li
                  a#share-share(href='#') Google+
            fieldset
              label Embed
              textarea#share-iframe
                iframe
              .share-size
                div.size-options
                  a.small.option(href='#')
                    span.icon
                    span.size Small
                    span.dimensions 560x358
                  a.medium.option.current(href='#')
                    span.icon
                    span.size Medium
                    span.dimensions 640x403
                  a.large.option(href='#')
                    span.icon
                    span.size Large
                    span.dimensions 853x523
                  a.xlarge.option(href='#')
                    span.icon
                    span.size X-Large
                    span.dimensions 1280x763
    #attribution-info.attribution-info
      #attribution-logo.attribution-logo
        span.attribution-text Credits
      #attribution-details.attribution-details
        span.attribution-close
        div.attribution-mopop mozilla Popcorn
        div.attribution-title #{title}
        if author
          div.attribution-author #{author}
        div.attribution-media
          span.media-icon
          a.attribution-media-src(href='#{mediaSrc}', target='_blank') #{mediaSrc}
        div.attribution-extra
    #controls.controls
