!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='author', content='#{author}')
    meta(name='title', content='#{projectName} - Mozilla Popcorn')
    meta(name='description', content='This was created with Mozilla Popcorn')
    link(rel='image_src', href='#{baseHref}/resources/logo/popcorn.png')
    title #{projectName} - Mozilla Popcorn
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='#{baseHref}/css/embed-shell.css')
  body
    iframe(src='#{embedSrc}', width='1280', height='745', frameborder='0', mozallowfullscreen='mozallowfullscreen', webkitallowfullscreen='webkitallowfullscreen', allowfullscreen='allowfullscreen')
