!!! 5
html(lang='en')
  head
    base(href='#{baseHref}')
    !{templateScripts}
    !{externalAssets}
    !{popcorn}
    link(rel='stylesheet', href='/css/embed.css')
    link(rel='stylesheet', href="/css/controls.css")
    // This is the embed, the actual content is at the following URL
    link(rel='cannonical', href='/v/#{id}.html')
    style
      @-o-viewport { width: device-width; }
      @-moz-viewport { width: device-width; }
      @-ms-viewport { width: device-width; }
      @-webkit-viewport { width: device-width; }
      @viewport { width: device-width; }
    script(src='/src/embed.js')
  body.embed
    #container.container
      #video-container.video
        #video
        #controls-big-play-button
        #post-roll.embed-overlay(style='display: none;')
          .post-roll-inner
            a(href='#').embed-logo
            .embed-project
              div
                .mozpopcorn mozilla Popcorn
                .embed-title #{title}
                .embed-author #{author}
              .post-roll-description
                | This project was created entirely in a browser using
                strong  HTML5 and javascript
                | .
              ul.embed-nav.post-roll-options
                li
                  a#replay-post
                    span Replay
                li
                  a#remix-post
                    span Remix
                li
                  a#share-post
                    span Share
        #share.embed-overlay(style='display: none;')
          .share-inner
            a#share-close(href='#') X
            a(href='#').embed-logo
            .embed-project
              div
                .mozpopcorn mozilla Popcorn
                .embed-title My Project
                .embed-author Jonny Appleseed
            #share-options.share-options
              fieldset
                label URL
                input#share-url.share-ul(type='url')
                ul.embed-nav.share-buttons
                  li
                    a#replay-share(href='#') Twitter
                  li
                    a#remix-share(href='#') Facebook
                  li
                    a#share-share(href='#') Google+
              fieldset
                label Embed
                textarea#share-iframe
                  iframe
                .share-size
                  div.size-options
                    a.small.option(href='#')
                      span.icon 
                      span.size Small
                      span.dimensions 560x358
                    a.medium.option.current(href='#') 
                      span.icon 
                      span.size Medium
                      span.dimensions 640x403
                    a.large.option(href='#') 
                      span.icon 
                      span.size Large
                      span.dimensions 853x523
                    a.xlarge.option(href='#')
                      span.icon 
                      span.size X-Large
                      span.dimensions 1280x763
        .embed-info
          .embed-logo-small
          .embed-details
            a.mozpop(href='javascript:void(0);') mozilla Popcorn
            a.embed-title(href='javascript:void(0);') #{title}
            a.embed-author(href='javascript:void(0);') #{author}
      #controls.controls(style='display: none;')
